html {
  font-family: Raleway, sans-serif;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #d1dabd;
  color: #000;
  padding: 0;
  text-align: center;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f2ffd4;
  transition: all .4s linear;
}

.name:hover {
  color: #618c00;
}

.banner {
  position: relative;
  color: #fff;
}

h1 {
  margin-top: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

ol {
  margin-bottom: 0;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  padding: .5em .75em;
}

p {
  font-family: Crimson-Text, serif;
}
