@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

header {
  background-color: #d1dabd;
  color: #000;
  text-align: center;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links {
  margin: 0;
  padding: 0;
  background-color: #d1dabd;
}

.btn {
  display: inline-block;
  background-color: #46502f;
  border-color: #46502f;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
  transition: all .4s linear;
}

.learn-btn {
  color: #000;
  padding: 1rem;
}

.name:hover {
  color: #618c00;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

ol {
  margin-bottom: 0;
  padding-left: 0;
}

nav a {
  display: block;
  padding: .5em .75em;
}

p {
  font-family: Vollkorn, serif;
}

.banner {
  position: relative;
  color: #fff;
}

.banner-content {
  background-color: #d1dabd;
  color: black;
}

.content {
  display: inline-block;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  max-width: 50em;
}

.tropical {
  background-color: #f2f3e0;
  padding: 2rem;
}

.green-cafe {
  background-color: #e4e2b3;
  padding: 1rem;
}

.sites {
  padding-top: 1rem;
  padding-right: 1rem;
}

.location-info {
  background-color: #e4e2b3;
}

.find {
  margin: 2em;
  padding-top: 1em;
}

.open-info {
  margin: 2em;
  padding-bottom: 1em;
}

.about-info {
  margin: 2em;
  margin-left: 1em;
}

.cafe-about {
  background-color: #f2f0b9;
}

.welcome-info {
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  background-color: #d1dabd;
  color: #000;
}

@media only screen and (min-width: 38em) {

  header {
    display: flex;
    justify-content: space-between;
  }

  .banner-content {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 0;

    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  }

  .learn-btn {
    color: #fff;
    padding: 1rem;
  }

  .content {
    padding-right: 10rem;
  }

  .green-img {
    width: 50%;
  }

  .coffee-img {
    width: 50%;
  }

  .open {
    display: flex;
    flex-direction: row;
  }

  .location-info {
    background-color: #e4e2b3;
  }

  .find {
    margin: 2em;
  }

  .open-info {
    margin: 2em;
  }

  .img-flex {
    width: 50%;
  }
}
